$c: #02B514;
$cc: #00940f;
$text: #777;

@import "./helpers.scss";
@import "./loadBar.scss";
@import "./header.scss";
@import "./generics.scss";
@import "./overview-list.scss";

* {
    box-sizing: border-box;
}

body {
    color: $c  !important;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color-scheme: dark;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.main {
    position: fixed;
    border: 1px solid $c;
    // box-sizing: content-box;
    right: 0;
    bottom: 0;
    width: calc(100vw - 0px);
    height: calc(100vh - 3rem - 0px);
    border-top-width: 0;
    overflow: auto;

    &.-fullscreen {
        border-width: 0;
        height: 100vh;
        top: 0;
        z-index: -1;
    }
}

.c-text {
    color: $text;
}

.glob-error-msg {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background-color: #111;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;

    color: rgb(255, 0, 0);

    font-size: 1.3rem;

    max-width: 100vw;

    width: 35rem;

    i {
        font-size: 3em;
    }
}

#aside {
    width: 3rem;
    height: calc(100vh - 3rem);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #111;
    display: flex;
    flex-direction: column;
    border: 1px solid $c;
    border-top-width: 0;
    border-right-width: 0;

    .g-button {
        width: 100%;
        height: 3rem;
        flex: 0 0 3rem;
        border-radius: 0;
        background-color: #111;
        font-size: 1.5rem;

        &:hover,
        &.active {
            background-color: #222;
        }
    }
}

#aside+.main {
    width: calc(100vw - 3rem);
    border-left-width: 0;
}
